<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gazebo_sensor_plugin">
        <gazebo reference="laser_link">
            <sensor name="gpu_lidar" type="gpu_lidar">
                <topic>/lidar</topic>
                <gz_frame_id>laser_link</gz_frame_id>
                <update_rate>10</update_rate>
                <lidar>
                    <!-- 设置扫描范围 -->
                    <scan>
                        <!-- 描述水平扫描范围 描述雷达扫描一圈的采样光束数量 分辨率和samples一起决定实际采样点数量
                        起始扫描角度 终止扫描角度 vertical 描述竖直扫描范围，字段同horizontal -->
                        <horizontal>
                            <samples>360</samples>
                            <resolution>1.000000</resolution>
                            <min_angle>0.000000</min_angle>
                            <max_angle>6.283100</max_angle>
                        </horizontal>
                    </scan>
                    <!-- 设置扫描距离 -->
                    <range>
                        <min>0.080000</min>
                        <max>10.0</max>
                        <resolution>0.010000</resolution>
                    </range>
                </lidar>
                <visualize>true</visualize>
            </sensor>
        </gazebo>
        <gazebo reference="imu_link">
            <sensor name="imu_sensor" type="imu">
                <topic>/imu</topic>
                <update_rate>10</update_rate>
                <always_on>1</always_on>
                <visualize>true</visualize>
                <!-- 六轴噪声设置 -->
                <imu>
                    <angular_velocity>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-4</stddev>
                                <bias_mean>0.0000075</bias_mean>
                                <bias_stddev>0.0000008</bias_stddev>
                            </noise>
                        </x>
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-4</stddev>
                                <bias_mean>0.0000075</bias_mean>
                                <bias_stddev>0.0000008</bias_stddev>
                            </noise>
                        </y>
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-4</stddev>
                                <bias_mean>0.0000075</bias_mean>
                                <bias_stddev>0.0000008</bias_stddev>
                            </noise>
                        </z>
                    </angular_velocity>
                    <linear_acceleration>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1.7e-2</stddev>
                                <bias_mean>0.1</bias_mean>
                                <bias_stddev>0.001</bias_stddev>
                            </noise>
                        </x>
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1.7e-2</stddev>
                                <bias_mean>0.1</bias_mean>
                                <bias_stddev>0.001</bias_stddev>
                            </noise>
                        </y>
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1.7e-2</stddev>
                                <bias_mean>0.1</bias_mean>
                                <bias_stddev>0.001</bias_stddev>
                            </noise>
                        </z>
                    </linear_acceleration>
                </imu>
            </sensor>
        </gazebo>
        <gazebo reference="camera_link">
            <sensor name="camera" type="rgbd">
                <gz_frame_id>camera_optical_link</gz_frame_id>
                <pose>0 0 0 0 0 0</pose>
                <topic>/camera</topic>
                <update_rate>25</update_rate>
                <enable_metrics>false</enable_metrics>
                <camera name="head">
                    <pose>0 0 0 0 0 0</pose>
                    <horizontal_fov>1.3</horizontal_fov>
                    <image>
                        <width>640</width>
                        <height>480</height>
                        <format>RGB_INT8</format>
                        <anti_aliasing>4</anti_aliasing>
                    </image>
                    <camera_info_topic>__default__</camera_info_topic>
                    <trigger_topic></trigger_topic>
                    <triggered>false</triggered>
                    <clip>
                        <near>0.02</near>
                        <far>30</far>
                    </clip>
                    <visibility_mask>4294967295</visibility_mask>
                    <noise>
                        <type>gaussian</type>
                        <mean>0</mean>
                        <stddev>0.0070000000000000001</stddev>
                    </noise>
                </camera>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>