<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="base_xacro" params="length radius">
        <link name="base_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
            <cylinder radius="${radius}" length="${length}"/>
            </geometry>
            <material name="white">
            <color rgba="1.0 1.0 1.0 0.5"/>
            </material>
        </visual>
        </link>
    </xacro:macro>
</robot>

