<?xml version="1.0"?>
<robot name="first_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="base_link" params="length radius">
        <link name="base_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
            <cylinder radius="${radius}" length="${length}"/>
            </geometry>
            <material name="white">
            <color rgba="1.0 1.0 1.0 0.5"/>
            </material>
        </visual>
        </link>
    </xacro:macro>

    <xacro:macro name="imu_link" params="size imu_name xyz">
        <link name="${imu_name}_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
            <box size="${size} ${size} ${size}"/>
            </geometry>
            <material name="black">
            <color rgba="0.0 0.0 0.0 0.5"/>
            </material>
        </visual>
        </link>
        <joint name="${imu_name}_joint" type="fixed">
            <parent link="base_link"/>
                <child link="${imu_name}_link"/>
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
        </joint>
    </xacro:macro>
    <xacro:base_link length="0.12" radius="0.10"/>
    <xacro:imu_link size="0.02" imu_name="imu_up" xyz="0.0 0.0 0.03" />
    <xacro:imu_link size="0.02" imu_name="imu_down" xyz="0.0 0.0 -0.03" />
</robot>

