<?xml version="1.0"?>
<robot name="first_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="base_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
      <!-- radius 0.1m -->
        <cylinder radius="0.10" length="0.12"/>
      </geometry>
      <material name="white">
        <color rgba="1.0 1.0 1.0 0.5"/>
      </material>
    </visual>
  </link> 
  <!-- IMU link 惯性测量-->
  <link name="imu_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.02 0.02 0.02"/>
      </geometry>
      <material name="black">
        <color rgba="0.0 0.0 0.0 0.5"/>
      </material>
    </visual>
  </link>
    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0.0 0.0 0.03" rpy="0.0 0.0 0.0"/>
    </joint>
</robot>

