<?xml version="1.0"?>
<robot name="fishrobot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Include the common hardware base macro -->
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot_base.urdf.xacro"/>
    <xacro:fishbot_base/>

    <!-- Include and attach ONLY the ros2_control framework -->
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot.ros2_control.xacro"/>
    <xacro:fishbot_ros2_control/>

</robot>
